.single-trip .site-content{
    background-color: #d1F9Fc;
    padding: 56px;
    display: flex;
    justify-content: space-between;

}
.single-trip .site-main{
    flex: 0 0 70%;
    min-width: 70%;
    background-color: #fff;
    border: 1px solid #d3d3dd;
    padding: 48px;
}
.single-trip .widget-area{
    flex: 0 0 70%;
    min-width: 70%;
    background-color: #fff;
    border: 1px solid #d3d3dd;
    padding: 48px;
}
.single-trip .post-thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.single-trip .about-trip{
    display: flex;
    justify-content: space-between;
}
.container-trips .link-trip:hover{
    text-decoration: none;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0 0.25);
    box-shadow: 0px 2px 6px rgba(0, 0, 0 0.25);
}
.container-trips .trip .trip-header h2 {
    color: #456062;
    font-size: 1.2rem;
}
.container-trips .trip .entry-content p{
    margin-bottom: 8px;
    color: #727070;
    padding: 8px;
}
.post-type-archive-trip .site-content, .tax-trip_type .site-content{
    background-color: #D1F9Fc;
    padding: 56px;
}